body {
    background: #fbfbfb;
    color: #333;
    font: 1.4em/1.5 wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
    min-width: 1000px;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
.clearfix::after {
    clear: both;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
.wrapper {
    clear: both;
    display: block;
    margin: 0 auto;
    min-width: 1000px;
    width: 1000px;
}
h2.azure-heading
{
    font-size: 36px;
    font-weight: 400;
    color:#FFF;
    margin:40px 0 0 0;
}

h1.party-heading
{
    font-size: 64px;
    font-weight: 400;
    color: #FF8A00;
    margin:0 0 25px 0;

}
h3.party-subheading
{
    font-size: 24px;
    font-weight: 400;
    color: #A5CE00;
    margin:0;
}
header
{
    background: #303030;
    height:250px;
}

header .header-content
{
    background: url('partycluster-background.png') center right no-repeat;
    height:250px;
}
section#main
{
    margin-top:20px;
}
.cluster-list
{
    width:600px;
    float:left;
}
.cluster-list table
{
    width:550px;
}
.cluster-list table td{
    padding:10px;
}
    .cluster-list table thead {
        background: #00ABEC;
        color:#FFF;
    }
.cluster-list tr:nth-child(even) {
    background-color: #EEE;
}
.faq
{
    border-left: 1px solid #ccc;
    width:400px;
    float:right;
}
.faq h4
{
    color:#00ABEC;
    font-weight:500;
    font-size:24px;
}
.faq ul
{
    list-style: none;
}